{% extends "_header.html" %} {% block body %}
<main class="page" style="background-color: #f1f7fc">
  <section class="clean-block about-us">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">About Us</h2>
        <p>
          Volunteer provides a platform where organizations and talented members
          of their community can connect to make a difference. The creators of
          Volunteer are dedicated to making the world a better place.
        </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-6 about_us col-lg-4">
          <div class="card clean-card text-center">
            <img
              class="card-img-top w-100 d-block"
              src="https://yld.me/raw/aMjB.jpg"
            />
            <div class="card-body info">
              <h4 class="card-title">Noah</h4>
              <p class="card-text">
                Brains and brawn of the whole operation.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 about_us col-lg-4">
          <div class="card clean-card text-center">
            <img
              class="card-img-top w-100 d-block"
              src="https://yld.me/raw/aMjB.jpg"
            />
            <div class="card-body info">
              <h4 class="card-title">Danica</h4>
              <p class="card-text">
                Without her, this place would be a lot more drab.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 about_us col-lg-4">
          <div class="card clean-card text-center">
            <img
              class="card-img-top w-100 d-block"
              src="https://yld.me/raw/aMjB.jpg"
            />
            <div class="card-body info">
              <h4 class="card-title">Sam</h4>
              <p class="card-text">
                Database guru, boomer, and all around great guy.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 about_us col-lg-4">
          <div class="card clean-card text-center">
            <img
              class="card-img-top w-100 d-block"
              src="https://yld.me/raw/aMjB.jpg"
            />
            <div class="card-body info">
              <h4 class="card-title">Gavin</h4>
              <p class="card-text">
                Everything is a jawn. Except the things that aren't.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 about_us col-lg-4">
          <div class="card clean-card text-center">
            <img
              class="card-img-top w-100 d-block"
              src="https://yld.me/raw/aMjB.jpg"
            />
            <div class="card-body info">
              <h4 class="card-title">Mike</h4>
              <p class="card-text">
                Came for the free food, maybe wrote some code.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/static/assets/js/smoothproducts.min.js"></script>
<script src="/static/assets/js/-Filterable-Cards-.js"></script>
<script src="/static/assets/js/theme.js"></script>
{% endblock %}
