{% extends "_header.html" %} {% block body %}
<section class="py-5" style="margin-top: 30px;">
  <div class="container">
    <h1 class="text-center mb-4" style="font-family: Montserrat, sans-serif;">
      <strong>Community</strong>
    </h1>
    <div class="filtr-controls text-center lead text-uppercase mb-3">
      <span
        class="active d-inline-block mx-3 py-1 position-relative"
        data-filter="all"
        >all </span
      ><span class="d-inline-block mx-3 py-1 position-relative" data-filter="1"
        >Organizations</span
      ><span class="d-inline-block mx-3 py-1 position-relative" data-filter="2"
        >Individuals</span
      >
    </div>
    <div class="filter">
      <select id="skills" form="form" name="skills" class="selectpicker">
        <option value="skills" disabled selected="true">Skills</option>
        <option value="electrician">Electrician</option>
        <option value="plumbing">Plumbing</option>
        <option value="technology">Technology</option>
        <option value="handyman">Handyman</option>
        <option value="general">General</option>
        <option value="other">Other</option>
      </select>
      <select id="hours" form="form" name="interests" class="selectpicker">
        <option disabled selected="true">Interests</option>
        <option value="default">Default</option>
      </select>
      <select id="distance" form="form" name="distance" class="selectpicker">
        <option disabled selected="true">Distance</option>
        <option value="10">10 miles</option>
        <option value="25">25 miles</option>
        <option value="50">50 miles</option>
      </select>
      <br />
      <form action="/community" id="form" name="form">
        <button
          class="btn btn-secondary"
          type="submit"
          style="margin-top: 10px;"
        >
          SUBMIT
        </button>
      </form>
    </div>

    <div class="row filtr-container">
      {% for account in accounts %}
      <div class="col-md-6 col-lg-4 filtr-item" data-category="2,3">
        <div class="card shadow border-dark">
          <div class="shadow card-header bg-dark text-light">
            <h5 class="m-0">{{ account.name }}</h5>
          </div>
          <img
            class="img-fluid card-img w-100 d-block rounded-0"
            src="https://www.gravatar.com/avatar/{{
              account.hashed_email
            }}.jpg?s=2048"
          />
          <div class="card-body">
            <p class="card-text">{{ account.bio }}<br /></p>
          </div>
          <div class="d-flex card-footer">
            <a href="/profile/{{ account.uuid }}"
              ><button class="btn btn-dark btn-sm" type="button">
                <i class="fa fa-eye"></i>&nbsp;View Profile
              </button></a
            >
            <button class="btn btn-outline-dark btn-sm ml-auto" type="button">
              <i class="fa fa-plus"></i>&nbsp;Message
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/static/assets/js/smoothproducts.min.js"></script>
<script src="/static/assets/js/-Filterable-Cards-.js"></script>
<script src="/static/assets/js/theme.js"></script>
<script src="/static/assets/js/Profile-Edit-Form.js"></script>
{% endblock %}
