<!-- In here, we are going to edit our profile etc -->
{% extends "_header.html" %} {% block body %}
<!-- <body style="background-color: #f1f7fc;padding: 42px;"> -->
<div
  class="container profile profile-view"
  id="profile"
  style="padding: 23px;padding-top: 96px;background-color: #f1f7fc;"
>
  <form class="border rounded-0 shadow" style="background-color: #fefefe;">
    <div
      class="form-row profile-row"
      style="background-color: #f1f7fc;padding-top: 0px;margin: 41px;"
    >
      <div class="col-md-8 col-lg-7" style="background-color: #ffffff;">
        <h1 style="padding-bottom: 16px;font-size: 28px;">
          <strong>Edit Profile </strong>
        </h1>
        <div class="form-row">
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label>First Name</label
              ><input
                class="form-control"
                type="text"
                id="firstname"
                style="background-color: rgba(237,237,237,0.31);"
              />
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label>Last Name</label
              ><input
                class="form-control"
                type="text"
                id="lastname"
                style="background-color: rgba(237,237,237,0.31);"
              />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Email </label
          ><input
            class="form-control"
            type="email"
            autocomplete="off"
            required=""
            id="email"
            style="background-color: rgba(237,237,237,0.31);"
          />
        </div>
        <div class="form-row">
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label>Phone Number</label
              ><input
                class="form-control"
                type="text"
                id="phone_number"
                autocomplete="off"
                required=""
                style="background-color: rgba(237,237,237,0.31);"
              />
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label>Date of Birth</label
              ><input
                class="form-control"
                type="text"
                id="dob"
                autocomplete="off"
                required=""
                style="background-color: rgba(237,237,237,0.31);"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div
  class="container profile profile-view"
  id="profile"
  style="padding: 23px;padding-top: 14px;background-color: #f1f7fc;"
>
  <form class="border rounded-0 shadow" style="background-color: #fefefe;">
    <div
      class="form-row profile-row"
      style="background-color: #f1f7fc;padding-top: 0px;margin: 41px;"
    >
      <div class="col-md-8 col-lg-12" style="background-color: #ffffff;">
        <h1 style="font-size: 28px;"><strong>About Me</strong></h1>
        <div class="form-row">
          <div
            class="col-sm-12 col-md-6 col-lg-5"
            style="padding-top: 18px;padding-bottom: 1px;"
          >
            <select
              class="border rounded-0 custom-select custom-select-lg"
              multiple=""
              style="padding-top: 14px;height: 214px;padding-bottom: 0px;"
              ><optgroup label="Relevant Skills"
                ><option value="12" selected="">Web Design</option
                ><option value="13">Social Media</option
                ><option value="14">Accounting</option
                ><option value="">Family Law</option
                ><option value="">Painting</option></optgroup
              ></select
            >
          </div>
          <div
            class="col-sm-12 col-md-6 col-lg-7"
            style="padding-top: 18px;padding-bottom: 11px;padding-left: 38px;"
          >
            <h1 style="font-size: 22px;padding-top: 0px;">
              <strong>Public Bio</strong>
            </h1>
            <input
              class="form-control"
              type="text"
              id="bio"
              style="height: 179px;padding-bottom: 0px;"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<button
  class="btn btn-primary"
  type="button"
  onclick="editProfile()"
  style="background-color: #00a3dd;"
>
  SAVE CHANGES
</button>
<div
  class="container profile profile-view"
  id="profile"
  style="padding: 23px;padding-top: 14px;background-color: #f1f7fc;"
>
  <form class="border rounded-0 shadow" style="background-color: #fefefe;">
    <div
      class="form-row profile-row"
      style="background-color: #f1f7fc;padding-top: 0px;margin: 41px;"
    >
      <div class="col-md-8 col-lg-12" style="background-color: #ffffff;">
        <div class="form-row">
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label>Password </label
              ><input
                type="password"
                name="password"
                autocomplete="off"
                required=""
                style="background-color: rgba(237,237,237,0.31);"
              />
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <label>Confirm Password</label
              ><input
                type="password"
                name="confirmpass"
                autocomplete="off"
                required=""
                style="background-color: rgba(237,237,237,0.31);"
              />
            </div>
          </div>
        </div>
        <div class="form-row">
          <!-- <div class="col-md-12 content-right" style="padding: 0px;padding-top: 8px;padding-bottom: -3px;padding-right: 41px;"><button class="btn btn-primary" type="button" onclick="editProfile()" style="background-color: #00a3dd;">SAVE CHANGES</button><button class="btn btn-danger border-dark form-btn" type="reset" style="background-color: rgba(0,0,0,0.31);padding-top: 6px;">CANCEL </button></div> -->
        </div>
      </div>
    </div>
  </form>
</div>
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/static/assets/js/smoothproducts.min.js"></script>
<script src="/static/assets/js/-Filterable-Cards-.js"></script>
<script src="/static/assets/js/theme.js"></script>
<script src="/static/assets/js/Profile-Edit-Form.js"></script>
<script src="/static/custom/edit_profile.js"></script>
{% endblock %}
