{% extends "_header.html" %} {% block body %}
<main class="page" style="background-color: #f1f7fc">
  <section class="clean-block about-us">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Thanks for your feedback!</h2>
        <p>
Thank you for your feedback, {{ name }}!
Stay updated on your feedback here: <a href="https://github.com/noyoshi/irishhacks-2019/issues">https://github.com/noyoshi/irishhacks-2019/issues</a>
        </p>
      </div>
    </div>
  </section>
</main>
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/static/assets/js/smoothproducts.min.js"></script>
<script src="/static/assets/js/-Filterable-Cards-.js"></script>
<script src="/static/assets/js/theme.js"></script>
{% endblock %}
