<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Irish Hacks</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/static/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/static/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/static/assets/css/smoothproducts.css">
</head>

<body>
    <section class="clean-block clean-form dark" style="height: 711px;">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Log In</h2>
                <p></p>
            </div>
            {% if not logged_in %}
            <form>
                <div class="form-group"><label for="email">Email</label><input class="form-control item" type="text" id="email"></div>
                <div class="form-group"><label for="password">Password</label><input class="form-control" type="password" id="password"></div>
                <button class="btn btn-primary btn-block" onclick="login()" type="button">Log In</button></form>
            {% else %}
            <p>logged in</p>
            {% endif %}
        </div>
    </section>
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/static/assets/js/smoothproducts.min.js"></script>
    <script src="/static/assets/js/theme.js"></script>
    <script src="/static/custom/login.js">
    </script>
</body>

</html>