{% extends "_header.html" %} {% block body %}
<div class="container"></div>
<script>
  function acceptTask() {}
</script>
<section class="clean-block about-us"></section>
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card clean-card text-center">
          <img
            class="card-img-top w-100 d-block"
            src="/static/assets/img/avatars/avatar1.jpg"
          />
          <div class="card-body info">
            <h4 class="card-title">{{ title }}</h4>
            <!--<a href="/profile/edit/{{ uuid }}">Edit Profile</a>-->
            <p>
              {% if is_request %} Type: Request{% endif %} <br />
              {% if not is_request %} Type: Offer
              <br />
              {% endif %} {% if location %} Where: {{ location }}
              <br />
              {% endif %} {% if skill_set %} Desired Skill Set: {{ skill_set
              }}<br />
              {% endif %} {% if num_volunteers %} Volunteeers Required:
              {{ num_volunteers }}<br />
              {% endif %} {% if tags %} Tags: {{ tags }}<br />
              {% endif %} {% if volunteers_required %}
              <button
                type="button"
                class="btn btn-success"
                onclick="acceptTask()"
              >
                Accept Task
              </button>
              {% else %}
              <button
                type="button"
                class="btn btn-secondary"
                onclick="acceptTask()"
                disabled
              >
                No More Positions!
              </button>
              {% endif %}
            </p>
            <!-- <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div> -->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="block-heading"></div>
        <h1>About</h1>
        {% if description %}
        <p>{{ description }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/static/assets/js/smoothproducts.min.js"></script>
<script src="/static/assets/js/-Filterable-Cards-.js"></script>
<script src="/static/assets/js/theme.js"></script>
<script src="/static/assets/js/Profile-Edit-Form.js"></script>
{% endblock %}
