{% extends "_header.html" %}
{% block body %}
    <div class="register-photo" style="height: 747px;">
        <div class="container">
            <div class="form-container">
                <div class="image-holder" size="100%"" style="background-image: url(&quot;/static/assets/img/Hands%20In2.jpg&quot;);"></div>
                <form method="post">
                    {% if not logged_in %}
                    <h2 class="text-center" id="msg"><strong>Create</strong> an account.</h2>
                    <div class="form-group"><input class="form-control" type="name" name="name" placeholder="Name" id="name"></div>
                    <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" id="email"></div>
                    <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" id="password"></div>
                    <div class="form-group"><input class="form-control" type="password" name="password-repeat" placeholder="Password (repeat)" id="password_repeat"></div>
                    <div class="form-group">
                        <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox">I agree to the license terms.</label></div>
                    </div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="button" style="background-color: rgb(0,123,255);" onclick="signup()">Sign Up</button></div><a class="already" href="/login">You already have an account? Login here.</a></form>
                    {% else %}
                    <h2 class="text-center" id="msg">Already logged in as <strong>{{ user_id }}</strong></h2>
                    {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="form-container"></div>
        </div>
    </div>
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/static/assets/js/smoothproducts.min.js"></script>
    <script src="/static/assets/js/-Filterable-Cards-.js"></script>
    <script src="/static/assets/js/theme.js"></script>
    <script src="/static/custom/signup.js"></script>

{% endblock %}